.img-face {
	max-width: 240px;
}
.img-responsive{
	margin-bottom: 30px;
}
.parent {
    display: table;
    table-layout: fixed;
}

.child {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}